<mat-toolbar color="secondary">
  <span>Durbin</span>
  <div class="spacer"></div>

  <span>
    <button mat-button color="primary" (click)="createComponent()">
      Create View
    </button>
  </span>
</mat-toolbar>

<!-- <line></line>
<pie></pie>
<doughnut></doughnut> -->

<mat-card class="main">
  <mat-card-title>
    <h2>Sales  Conversion  Dashboard</h2>
  </mat-card-title>

  <mat-card-content class="display">
    <ng-container #container></ng-container>
  </mat-card-content>
  

</mat-card>
